<p style="color: green"><%= notice %></p>

<p>Bem-vindo(a)! <%= current_admin.email %></p>

<%= button_to "Sair", destroy_admin_session_path, method: :delete %>


<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", [:administrate, article] %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_administrate_article_path %>

